@keyframes rollingLoad {
    0%  {
        transform: rotate(0deg);
        border-top: 2px solid rgb(104, 100, 124, 0);
        border-bottom: 2px solid rgb(104, 100, 124, 0);
    }

    50% {
        transform: rotate(180deg);
        border-bottom: 2px solid rgb(104, 100, 124);
        border-top: 2px solid rgb(104, 100, 124);
        
    }

    100% {
        transform: rotate(360deg);
        border-top: 2px solid rgb(104, 100, 124, 0);
        border-bottom: 2px solid rgb(104, 100, 124, 0);
    }
}

.chat__loading-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid rgb(104, 100, 124);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-left: 3px solid rgba(0,0,0,0);
    border-right: 3px solid rgba(0,0,0,0);

    animation-name: rollingLoad;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}